extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}
        #todoapp
            input(
                type='text',
                placeholder='What needs to be done?',
                id='new-todo'
            )
            input(
                type='button',
                value='Add',
                id='addscrumtask'
            )
        .row
            .col-md-4
                #list-1.todo.sortable-list.ui-sortable
            .col-md-4
                #list-2.inprogress.sortable-list.ui-sortable
            .col-md-4
                #list-3.done.sortable-list.ui-sortable



